version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: ecommerce_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: dusky123
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: ecommerce_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --requirepass dusky123
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data:
